# Docker Files

docker

# IDE Files

.idea

# MacOS Files

.DS_Store

# Node Files

node_modules

# Python files

/venv
/env
__pycache__

# Output Files

.parcel-cache
.build
build
data
dist
lib
out

# Server Files

.dynamodb
.env
.serverless
dependency-reduced-pom.xml
target

# Test Files

.nyc_output
